/*JÁ TO COMEÇANDO*/ 
/* Configuração geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


/* TOPO DO SITE */
header {
    width: 100%;
    background-color: rgb(252, 249, 249);
    border-bottom: 1px solid #ddd;
    padding: 25px 0; 
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center; 
}

img {
    width: 600px;
    height: auto; 
}

/* aquela amiga que faz css */
.info-item span {
    border-radius: 4px;           
    padding: 4px 8px;            
    display: inline-block;        
    margin-top: 5px;                          
    font-size: 14px;              
}
.tag-reptil {
    background-color: #049b04;    
    border: 1px solid #ffffff;
    color: #000000;              
}
.tag-novato {
    background-color: #07a7f1;   
    border: 1px solid #ffffff;  
    color: #000000;               
}

.tag-vacina {
    background-color: #8b52f5; 
    border: 1px solid #ffffff;  
    color: #000000;
}
    
.tag-pequenachama {
    background-color: #fa9c10; 
    border: 1px solid #ffffff;  
    color: #000000;
}

.tag-garra {
    background-color: #6674eb; 
    border: 1px solid #ffffff;  
    color: #000000;
}

.




